<!doctype html>
<head>
<link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAH8/cACh3wAAgHBwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEREREREREREREREREREREREREREREREREREREREREREREREREREREiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
{% if holiday %}
<meta property="og:description" content="Today is a German holiday."/>
{% else %}
<meta property="og:description" content="Today is not a German holiday."/>
{% endif %}
<title>Is it a German holiday today?</title>
<style>
body {
  margin:200px 0px;
  padding:0px;
  text-align:center;
  font-size: 120pt;
  font-family: Arial, sans-serif;
}
</style
</head>
<body>
{% if holiday %}
  <h1>YES</h1>
{% else %}
  <h1>NO</h1>
{% endif %}
</body>
